@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white !important;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

body > header > nav > div{
    text-align: center;
}

body > header > a > i{
    color: black !important;
}
.to-top{
    background-color: yellow;
    z-index: 1;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
}

.to-top.active{
    bottom: 32px;
    opacity: 1;
    pointer-events: auto;

}

header{
    background-image: url(images/hero-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



#navbarSupportedContent > ul.navbar-nav.ms-auto.pe-3{
    font-weight: 800;
    font-family: sans-serif !important;
}

#navbarSupportedContent > ul.navbar-nav.ms-auto.pe-3 > li:nth-child(n) > a{
    margin-right: 15px;
}

#navbarSupportedContent > ul.navbar-nav.ms-auto.pe-3 > li:nth-child(n) > a:hover{
    color: yellow !important;
}
.btn-1{
 background-color: transparent;
 color: white;
 border: 2px solid yellow;
 border-radius: 20px;
}

.btn-1:hover{
    background-color: yellow !important;
    color: blue !important;
    font-weight: 800;
    outline: none !important;
}

#navbarSupportedContent > ul.navbar-nav.ms-auto.mt-3.ps-5 > li{
    margin-right: 20px !important;
}

.bi-globe,.bi-search{
    cursor: pointer;
}

.hero-text{
    margin-top: 100px;
    margin-left: 40px;
}

.hero-text h2{
    font-size: 40px;
    font-weight: 800;
    color: yellow !important;
}

.hero-text p{
    font-size: 50px;
    word-wrap: break-word;
}

.hero-text p span{
    color: yellow !important;
}


.text-row{
    padding-left: 50px !important;
}

.btn_pg{
    border: none;
    outline: none;
    padding: 1px;
    color: navy !important;
    padding-left: 5px;
    padding-right: 5px;
}

.hd{
    border: 2px solid white;
    padding: 0.5px;
    border-radius: unset;
    text-align: center;
    margin: 5px;
    margin-right: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-row a{
    text-decoration: none;
    padding-right: 20px;
}
.text-row i{
    padding-left: 25px;
}



.btn-wn{
    margin-left: 40px;
    margin-top: 50px;
    border: 2px solid yellow !important;
    border-radius: 35px;
    padding: 10px 25px; 
    font-weight: 800;
}

.btn-wn:hover{
    background-color: yellow !important;
    color: navy !important;
}

.btn-wn:hover i{
    color: navy !important;
}

#movie{
    background-color: #17161B !important;
    width: 100%;
    min-height: 100vh;
}

.u-m{
    display: flex;
    justify-content: space-between;
}

.up-btn .btn{
    background-color: #21232B;
    margin-right: 30px;
    border-radius: 25px;
    padding: 10px 20px;
}
 
.up-btn .btn:hover{
 border: 2px solid yellow !important;
}

.card-body .heading{
    display: flex;
    justify-content: space-between;
}

.card-body .quality{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.btn_hd{
    background-color: transparent !important;
    border: 2px solid white;
    padding: 3px;
    color: yellow !important;
}

.card{
    border: none !important;
}


#downlode{
    background-color: #333236 !important;
    width: 100%;
    min-height: 100vh;
}

.d-c_text{
    display: flex;
    flex-direction: column;
}


.dc{
    display: flex;
    flex-direction: row;
}

.dc .bi:hover{
    color: yellow !important;
    cursor: pointer;
}

#downlode p{
    font-size: 10px;
}

#top-rated{
    width: 100%;
    min-height: 100vh;
    background-color: #1A1923 !important;
}

.btn-tp button{
    background-color: #0A0F0F !important;
    padding: 10px 22px;
    margin-left: 25px;
}

#tvshow{
    background-color: #333236 !important;
}

#price{
    width: 100%;
    height: 100vh;
    background-color: #1A1923;
}


#bottom{
    height: 30vh;
    width: 100%;
}

.b-i{
    background-image: url(images/cta-bg.jpg);
    width: 100%;
    height: 250px;
    padding-top: 10px;
    position: relative;
}

.c-i{
    background-image: url(images/footer-bg.jpg);
    height: 150px;
    width: 100%;
}



@media screen and (max-width: 992px) {
    body,html{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #navbarSupportedContent > ul.navbar-nav.ms-auto.mt-3.ps-5 > li > i.bi.bi-globe.pe-3,
    #navbarSupportedContent > ul.navbar-nav.ms-auto.mt-3.ps-5 > li > i.bi.bi-search.pe-3,
    #navbarSupportedContent > ul.navbar-nav.ms-auto.mt-3.ps-5 > li > button{
        display: none;
    }

    body > header > div.text-row.text-justify.text-nowrap > i.bi{
        display: none;
    }
    #navbarSupportedContent > ul.navbar-nav.ms-auto.mt-3.ps-5{
        padding-right: 60px;
    }

    #navbarSupportedContent > ul.navbar-nav.ms-auto.mt-3.ps-5{
        margin-left: 20px !important;
    }

    .up-btn{
        display: none;
    }

    #movie > div.container-fluid.d-flex.justify-content-around > div > div:nth-child(n){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #tvshow > div.container-fluid.d-flex.justify-content-around > div > div:nth-child(n){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #top-rated > div.container-fluid.d-flex.justify-content-around > div > div:nth-child(n){
        display: flex;
        align-items: center;
        justify-content: center;
        }   
        
    
    body > header > div.hero-text.container {
        margin-left: 10px;
    }
    body > header > div.text-row.text-justify.text-nowrap{
        padding-left: 25px !important;
    }
    body > header > button {
        margin-top: 25px !important;
    }
    body > header > div.watch > button{
        margin-left: 20px;
    }
}    
    
    @media screen and (max-width: 481px) {
    body,html{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    home{
        height: fit-content;
        width: 100%;
    }
}